* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  font-family: "Poppins", sans-serif;
}
* body header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 13px;
  background: radial-gradient(rgb(136, 195, 245), #1294b8);
  width: 100%;
}
* body header h1 {
  color: white;
}
* body header nav ul {
  display: flex;
  list-style: none;
}
* body header nav ul li {
  margin: 3px 10px;
}
* body header nav ul li a {
  color: white;
  text-decoration: none;
}
* body header .social-media-icons a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
* body main #Home {
  background: radial-gradient(rgb(136, 195, 245), #1294b8);
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}
* body main #Home .headline {
  width: 26%;
}
* body main #Home .headline h2 {
  font-size: xxx-large;
  color: darkslategrey;
}
* body main #Home .headline p {
  margin: 12px 0;
}
* body main #Home .headline form {
  position: relative;
}
* body main #Home .headline form #email {
  width: 100%;
  padding: 15px;
  border-radius: 22px;
  border: none;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
* body main #Home .headline form #Subscribe {
  position: absolute;
  top: 0;
  right: 4px;
  /*z-index: 1;
  */
  border: none;
  top: 5px;
  height: 36px;
  cursor: pointer;
  color: white;
  background-color: #1294b8;
  transform: translateX(0px);
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  width: 30%;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
* body main #Home .headline form #Subscribe:hover {
  background-color: rgb(136, 195, 245);
}
* body main #Home figure {
  width: 52%;
}
* body main #Home figure img {
  width: 100%;
}
* body main #Features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* body main #Features h2 {
  margin: 20px 0;
}
* body main #Features p {
  color: grey;
  margin-bottom: 35px;
  text-align: center;
}
* body main #Features .product_cards_section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: white;
}
* body main #Features .product_cards_section .product_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgb(136, 195, 245), #1294b8);
  width: 25%;
  border-radius: 10px;
  text-align: center;
  padding: 68px 16px;
  transition: 0.3s;
}
* body main #Features .product_cards_section .product_cards:hover {
  transform: translate(0, -10px);
}
* body main #Features .product_cards_section .product_cards svg {
  width: 13%;
  margin: 22px 0;
}
* body main #Features .product_cards_section .product_cards p {
  color: white;
}
* body main #Team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
* body main #Team h2 {
  margin: 20px 0;
  width: 33%;
  text-align: center;
}
* body main #Team p {
  width: 42%;
  text-align: center;
  color: grey;
}
* body main #Team .team_images_section {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 35px;
}
* body main #Team .team_images_section figure {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* body main #Team .team_images_section figure strong {
  font-size: x-large;
}
* body main #Team .team_images_section figure img {
  width: 65%;
  filter: grayscale(100%);
  border-radius: 80%;
  margin: 31px 0 20px;
  transition: transform 0.5s;
}
* body main #Team .team_images_section figure img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}/*# sourceMappingURL=index.css.map */