*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    body {
        font-family: 'Poppins', sans-serif;

        header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 13px;
        background: radial-gradient(rgb(136,195,245), #1294b8);
        width: 100%;

            h1{
                color: white;
            }

            nav{
                ul{
                    display: flex;
                    list-style: none;

                    li{
                        margin: 3px 10px;
                        a{
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }

            .social-media-icons{
                a{
                    color: white;
                    text-decoration: none;
                    margin: 0 10px;
                }
            }
        }

        main{

            #Home{
                background: radial-gradient(rgb(136,195,245), #1294b8);
                display: flex;
                width: 100%;
                height: 100vh;
                align-items: center;
                justify-content: space-evenly; 



               .headline{
                    width: 26%;

                    h2{
                        font-size: xxx-large;
                        color: darkslategrey;
                    }

                    p{
                        margin: 12px 0;
                    }

                    form{
                        position: relative;

                        #email{
                            width: 100%;
                            padding: 15px;
                            border-radius: 22px;
                            border: none;
                            -webkit-border-radius: 22px;
                            -moz-border-radius: 22px;
                            -ms-border-radius: 22px;
                            -o-border-radius: 22px;
                        }

                        #Subscribe{
                            position: absolute;
                            top: 0;
                            right: 4px;
                            /*z-index: 1;
                            */border: none;
                            top: 5px;
                            height: 36px;
                            cursor: pointer;
                            color: white;
                            background-color: #1294b8;
                            transform: translateX(0px);
                            border-radius: 22px;
                            -webkit-border-radius: 22px;
                            -moz-border-radius: 22px;
                            -ms-border-radius: 22px;
                            -o-border-radius: 22px;
                            width: 30%;
                            transition: 0.8s;
                            -webkit-transition: 0.8s;
                            -moz-transition: 0.8s;
                            -ms-transition: 0.8s;
                            -o-transition: 0.8s;

                            &:hover{
                                background-color: rgb(136,195,245);

                            }
                        }
                    }
                } 

                figure{
                    width: 52%;
                    img{
                        width: 100%;
                    }
                }
            }

            #Features{
                // text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;


                h2{
                    margin: 20px 0;
                }

                p{
                    color: grey;
                    margin-bottom: 35px;
                    text-align: center;
                }

                .product_cards_section{
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    color: white;

                    .product_cards{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: radial-gradient(rgb(136,195,245), #1294b8);
                        width: 25%;
                        border-radius: 10px;
                        text-align: center;
                        padding: 68px 16px;
                        transition: 0.3s;

                        &:hover{
                            transform: translate(0, -10px);
                        }

                        svg{
                            width: 13%;
                            margin: 22px 0;
                            filter: brightness(0) invert(1);
                        }

                        p{
                            color: white;
                        }
                    }
                }
            }

            #Team{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                h2{
                    margin: 20px 0;
                    width: 33%;
                    text-align: center;
                }

                p{
                    width: 42%;
                    text-align: center;
                    color: grey;
                }

                .team_images_section {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    margin-top: 35px;


                    figure{
                        width: 23%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        // .social-media-hover{
                        //     position: absolute;
                        //     top: 0;
                        //     bottom: 151px;
                        //     left: 0;
                        //     right: 0;
                        //     background: rgb(0,0,0,0.5) ;
                        //     color: #fff;
                        //     visibility: hidden;
                        //     opacity: 0;
                        //     border-radius: 5px;
                        
                        //     /* transition effect. not necessary */
                        //     transition: opacity .2s, visibility .2s;

                        // }


                        strong{
                            font-size: x-large;
                        }

                        img{
                            width: 65%;
                            filter: grayscale(100%);
                            border-radius: 80%;
                            margin: 31px 0 20px;
                            transition: transform .5s;

                            position: relative;

                            &:hover{
                                transform: scale(1.1);
                                -webkit-transform: scale(1.1);
                                -moz-transform: scale(1.1);
                                -ms-transform: scale(1.1);
                                -o-transform: scale(1.1);
                                filter: grayscale(0%);
                                -webkit-filter: grayscale(0%);

                            }

                        }



                    }

                }
            }


            #get_started{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 35px;
                text-align: center;

                background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
                url(/img/parallax.png);
                height: 38vh;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                

                h2{
                    color: white;
                    margin-bottom: 15px;
                }
    
                p{
                    color: darkgrey;
                    width: 66%;
                    margin-bottom: 15px;
                }    
    
                button{
                    background-color: transparent;
                    padding: 10px 30px;
                    border-radius: 7px;
                    border: solid 2px white;
                    color:white;
                    cursor: pointer;
    
                    &:hover{
                        background-color: white;
                        color: darkgrey;
                    }
                }
            }
        
            #blog{
                margin-top: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                h2{
                    color: black;
                    margin-bottom: 15px;
                }
    
                p{
                    color: darkgrey;
                    width: 37%;
                    margin-bottom: 15px;
                    text-align: center;
                } 

                article{
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    margin: 45px;

                    figure{
                        width: 25%;
                        position: relative;
                        cursor: pointer;

                        img{
                            width: 100%;
                            border-radius: 5px;
                        }

                        .hoverOnImg{
                            position: absolute;
                            top: 0;
                            bottom: 151px;
                            left: 0;
                            right: 0;
                            background: rgb(0,0,0,0.5) ;
                            color: #fff;
                            visibility: hidden;
                            opacity: 0;
                            border-radius: 5px;
                        
                            /* transition effect. not necessary */
                            transition: opacity .2s, visibility .2s;

                            ul{
                                margin: 34px;

                                li{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;

                                    i{
                                        margin-right: 5px;
                                    }
                                }
                            }
                            
    
                        }

                        p{
                            text-align: left;
                            width: 100%;
                        }

                        a{
                            text-decoration: none;
                            color: #1294b8;
                        }
                        &:hover .hoverOnImg {
                            visibility: visible;
                            opacity: 1;

                        }

                    }

                }
            }

            #pricing{
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                margin-top: 35px;
                align-items: center;

                p{
                    color: darkgrey;
                }

                article{
                    width: 33%;

                    h2{
                        margin: 25px 0;
                    }

                    .counter{
                        display: flex;
                        width: 100%;
                        margin: 25px 0;
                    }

                    .Happy_user,.completeProject{
                        display: inline;
                        margin-right: 35px;

                        strong{
                            font-size: x-large;
                        }
                    }

                    button{
                        background-color: rgb(136,195,245);
                        border: none;
                        height: 37px;
                        width: 25%;
                        color: white;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }

                figure{
                    width: 45%;

                    img{
                        width: 100%;
                    }
                }
            }

            .ourPricing{
                background-color: #F3F3F3;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 0 0 50px 0;

                h2{
                    margin: 15px 0 25px 0;
                }

                p{
                    width: 32%;
                    text-align: center;
                    color: darkgrey;
                }

                .cards{
                    margin-top: 50px;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    
                    .card1, .card2, .card3{
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 20%;
                        border-radius: 10px;
                        padding: 35px 30px;
                        margin: 20px;
    
                        .price{
                            display: flex;
                            align-items: baseline;

                            h2{
                                font-size: xxx-large;
                                color: rgb(136,195,245);
                            }

                            p{
                                font-size: small;
                            }
                        }

                        ul{
                            list-style: none;
                            width: 100%;
                            li{
                               margin-bottom: 10px;
                            }
                        }


                        button{
                            width: 100%;
                            height: 35px;
                            border-radius: 5px;
                            border: none;
                            background-color: rgb(136,195,245);
                            color: white;
                            margin-top: 20px;
                            cursor: pointer;
                        }
                    }

                    .card2{
                        bottom: 20px;
                        position: relative;
                    }
                }


            }
        }

        footer{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background-color: #26272B;
            color: darkgrey;
            padding: 35px 0;

            a{
                margin: 10px;
                text-decoration: none;
                color: darkgrey;
            }

            .socials{
                a {
                    font-size: large;
                    display: inline-block;
                    // font-size: 18px;
                    line-height: 40px;
                    width: 40px;
                    height: 40px;
                    border-radius: 36px;
                    background-color: transparent;
                    border: 2px solid darkgrey;
                    color: darkgrey;
                    text-align: center;
                    -webkit-border-radius: 36px;
                    -moz-border-radius: 36px;
                    -ms-border-radius: 36px;
                    -o-border-radius: 36px;
                }
            }

            .rgpd{
                display: flex;
                align-items: center;

                a{
                    margin: 10px 20px;
                }
                
                hr{
                    height: 15px;
                }
            }

        }
    }
}