* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  font-family: "Poppins", sans-serif;
}
* body .colorPicker_section {
  position: fixed;
  top: 50%;
  display: flex;
  align-items: center;
  z-index: 1;
}
* body .colorPicker_section i {
  display: block;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 25px;
  border-radius: 0 5px 5px 0;
  padding: 5px;
}
* body .colorPicker_section i:hover {
  color: rgba(255, 255, 255, 0.5);
}
* body .colorPicker_section .colorPicker {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0 5px 5px 0;
  width: 45%;
}
* body .colorPicker_section .colorPicker #myColors {
  display: none;
  flex-wrap: wrap;
}
* body .colorPicker_section .colorPicker #myColors button {
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 36px;
  color: white;
  text-align: center;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
  border: none;
  margin: 5px;
}
* body .colorPicker_section .colorPicker #myColors button:hover {
  opacity: 0.5;
}
* body .colorPicker_section .colorPicker #myColors .colorInit {
  background: radial-gradient(rgb(136, 195, 245), #1294b8);
}
* body .colorPicker_section .colorPicker #myColors .colorRed {
  background: radial-gradient(rgb(255, 0, 0), rgb(203, 77, 83));
}
* body .colorPicker_section .colorPicker #myColors .colorgreen {
  background: radial-gradient(rgb(0, 255, 0), #59a304);
}
* body .colorPicker_section .colorPicker #myColors .colorYellow {
  background: radial-gradient(rgb(255, 241, 114), #ffc107);
}
* body header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: radial-gradient(rgb(136, 195, 245), #1294b8);
}
* body header .navSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 13px;
  width: 100%;
}
* body header .navSection h1 {
  color: white;
}
* body header .navSection nav ul {
  display: flex;
  list-style: none;
}
* body header .navSection nav ul li {
  margin: 3px 10px;
}
* body header .navSection nav ul li a {
  color: white;
  text-decoration: none;
}
* body header .navSection .social-media-icons a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
* body header #Home {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}
* body header #Home .headline {
  width: 26%;
}
* body header #Home .headline h2 {
  font-size: xxx-large;
  color: darkslategrey;
}
* body header #Home .headline p {
  margin: 12px 0;
}
* body header #Home .headline form {
  position: relative;
}
* body header #Home .headline form #email {
  width: 100%;
  padding: 15px;
  border-radius: 22px;
  border: none;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}
* body header #Home .headline form #Subscribe {
  position: absolute;
  top: 0;
  right: 4px;
  /*z-index: 1;
  */
  border: none;
  top: 5px;
  height: 36px;
  cursor: pointer;
  color: white;
  background-color: #1294b8;
  transform: translateX(0px);
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  width: 30%;
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
* body header #Home .headline form #Subscribe:hover {
  background-color: rgb(136, 195, 245);
}
* body header #Home figure {
  width: 52%;
}
* body header #Home figure img {
  width: 100%;
}
* body main #Features, * body main #Team, * body main #blog {
  height: 100vh;
}
* body main #Features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* body main #Features h2 {
  margin: 20px 0;
}
* body main #Features p {
  color: grey;
  margin-bottom: 35px;
  text-align: center;
}
* body main #Features .product_cards_section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: white;
}
* body main #Features .product_cards_section #product_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgb(136, 195, 245), #1294b8);
  width: 25%;
  border-radius: 10px;
  text-align: center;
  padding: 68px 16px;
  transition: 0.3s;
}
* body main #Features .product_cards_section #product_cards:hover {
  transform: translate(0, -10px);
}
* body main #Features .product_cards_section #product_cards i {
  font-size: 50px;
  margin: 22px 0;
  color: white;
}
* body main #Features .product_cards_section #product_cards p {
  color: white;
}
* body main #Team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
* body main #Team h2 {
  margin: 20px 0;
  width: 33%;
  text-align: center;
}
* body main #Team p {
  width: 42%;
  text-align: center;
  color: grey;
}
* body main #Team .team_images_section {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 35px 0;
}
* body main #Team .team_images_section figure {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* body main #Team .team_images_section figure strong {
  font-size: x-large;
}
* body main #Team .team_images_section figure .hoverImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
* body main #Team .team_images_section figure .hoverImg .social-media-hover {
  position: absolute;
  width: 20%;
  height: 31%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.5s;
  z-index: 1;
  left: 65px;
}
* body main #Team .team_images_section figure .hoverImg .social-media-hover a {
  cursor: pointer;
  font-size: large;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border-radius: 36px;
  background-color: white;
  color: black;
  text-align: center;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}
* body main #Team .team_images_section figure .hoverImg img {
  width: 65%;
  filter: grayscale(100%);
  border-radius: 80%;
  margin: 31px 0 20px;
  transition: transform 0.5s;
  display: block;
  overflow: hidden;
}
* body main #Team .team_images_section figure .hoverImg img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
* body main #Team .team_images_section figure .hoverImg:hover .social-media-hover {
  visibility: visible;
  opacity: 1;
  transform: translate(5px, 20px);
  -webkit-transform: translate(5px, 20px);
  -moz-transform: translate(5px, 20px);
  -ms-transform: translate(5px, 20px);
  -o-transform: translate(5px, 20px);
}
* body main #get_started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/parallax.png);
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
* body main #get_started h2 {
  color: white;
  margin-bottom: 15px;
}
* body main #get_started p {
  color: darkgrey;
  width: 66%;
  margin-bottom: 15px;
}
* body main #get_started button {
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 7px;
  border: solid 2px white;
  color: white;
  cursor: pointer;
  height: 5vh;
}
* body main #get_started button:hover {
  background-color: white;
  color: darkgrey;
}
* body main #blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
* body main #blog h2 {
  color: black;
  margin-bottom: 15px;
}
* body main #blog p {
  color: darkgrey;
  width: 37%;
  margin-bottom: 15px;
  text-align: center;
}
* body main #blog article {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 45px;
}
* body main #blog article figure {
  width: 25%;
  cursor: pointer;
}
* body main #blog article figure .img {
  position: relative;
}
* body main #blog article figure .img img {
  width: 100%;
  border-radius: 5px;
}
* body main #blog article figure .img .hoverOnImg {
  position: absolute;
  width: 100%;
  height: 98%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
* body main #blog article figure .img .hoverOnImg ul {
  margin: 34px;
}
* body main #blog article figure .img .hoverOnImg ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
* body main #blog article figure .img .hoverOnImg ul li i {
  margin-right: 5px;
}
* body main #blog article figure .img:hover .hoverOnImg {
  visibility: visible;
  opacity: 1;
}
* body main #blog article figure p {
  text-align: left;
  width: 100%;
}
* body main #blog article figure a {
  text-decoration: none;
  color: #6b93b1;
}
* body main #blog article figure a:hover {
  color: rgb(136, 195, 245);
}
* body main #pricing {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
* body main #pricing p {
  color: darkgrey;
}
* body main #pricing article {
  width: 33%;
}
* body main #pricing article h2 {
  margin: 25px 0;
}
* body main #pricing article .counter {
  display: flex;
  width: 100%;
  margin: 25px 0;
}
* body main #pricing article .Happy_user, * body main #pricing article .completeProject {
  display: inline;
  margin-right: 35px;
}
* body main #pricing article .Happy_user strong, * body main #pricing article .completeProject strong {
  font-size: x-large;
}
* body main #pricing article button {
  background-color: #6390ff;
  border: none;
  height: 37px;
  width: 25%;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
* body main #pricing article button:hover {
  background-color: rgb(136, 195, 245);
}
* body main #pricing figure {
  width: 45%;
}
* body main #pricing figure img {
  width: 100%;
}
* body main .ourPricing {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0 50px 0;
}
* body main .ourPricing h2 {
  margin: 15px 0 25px 0;
}
* body main .ourPricing p {
  width: 32%;
  text-align: center;
  color: darkgrey;
}
* body main .ourPricing .cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}
* body main .ourPricing .cards .card1, * body main .ourPricing .cards .card2, * body main .ourPricing .cards .card3 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  border-radius: 10px;
  padding: 35px 30px;
  margin: 20px;
}
* body main .ourPricing .cards .card1 .price, * body main .ourPricing .cards .card2 .price, * body main .ourPricing .cards .card3 .price {
  display: flex;
  align-items: baseline;
}
* body main .ourPricing .cards .card1 .price h2, * body main .ourPricing .cards .card2 .price h2, * body main .ourPricing .cards .card3 .price h2 {
  font-size: xxx-large;
  color: #6390ff;
  display: flex;
  align-items: flex-start;
}
* body main .ourPricing .cards .card1 .price h2 span, * body main .ourPricing .cards .card2 .price h2 span, * body main .ourPricing .cards .card3 .price h2 span {
  font-size: smaller;
}
* body main .ourPricing .cards .card1 .price p, * body main .ourPricing .cards .card2 .price p, * body main .ourPricing .cards .card3 .price p {
  font-size: small;
}
* body main .ourPricing .cards .card1 ul, * body main .ourPricing .cards .card2 ul, * body main .ourPricing .cards .card3 ul {
  list-style: none;
  width: 100%;
}
* body main .ourPricing .cards .card1 ul li, * body main .ourPricing .cards .card2 ul li, * body main .ourPricing .cards .card3 ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
* body main .ourPricing .cards .card1 ul li .fa-circle-check, * body main .ourPricing .cards .card2 ul li .fa-circle-check, * body main .ourPricing .cards .card3 ul li .fa-circle-check {
  color: #a9bea0;
  margin-right: 5px;
}
* body main .ourPricing .cards .card1 ul li .fa-circle-xmark, * body main .ourPricing .cards .card2 ul li .fa-circle-xmark, * body main .ourPricing .cards .card3 ul li .fa-circle-xmark {
  color: #9e6465;
  margin-right: 5px;
}
* body main .ourPricing .cards .card1 ul li p, * body main .ourPricing .cards .card2 ul li p, * body main .ourPricing .cards .card3 ul li p {
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: row;
  color: black;
}
* body main .ourPricing .cards .card1 button, * body main .ourPricing .cards .card2 button, * body main .ourPricing .cards .card3 button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  background-color: #6390ff;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
* body main .ourPricing .cards .card1 button:hover, * body main .ourPricing .cards .card2 button:hover, * body main .ourPricing .cards .card3 button:hover {
  background-color: rgb(136, 195, 245);
}
* body main .ourPricing .cards .card2 {
  bottom: 20px;
  position: relative;
}
* body main .ourPricing .cards .card2 small {
  background-color: #6390ff;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  text-align: center;
  border-radius: 0 10px;
  padding: 10px;
}
* body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #26272B;
  color: darkgrey;
  padding: 35px 0;
}
* body footer a {
  margin: 10px;
  text-decoration: none;
  color: darkgrey;
}
* body footer a:hover {
  color: #1294b8;
}
* body footer .socials a {
  font-size: large;
  display: inline-block;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 36px;
  background-color: transparent;
  border: 2px solid darkgrey;
  color: darkgrey;
  text-align: center;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}
* body footer .socials a:hover {
  color: #1294b8;
  border: 2px solid #1294b8;
}
* body footer .rgpd {
  display: flex;
  align-items: center;
}
* body footer .rgpd a {
  margin: 10px 20px;
}
* body footer .rgpd hr {
  height: 15px;
}
* body #myBtn {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: large;
  display: inline-block;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 36px;
  background-color: black;
  color: white;
  text-align: center;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}/*# sourceMappingURL=index.css.map */