*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        font-family: 'Poppins', sans-serif;

        header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 13px;
        background: radial-gradient(rgb(136,195,245), #1294b8);
        width: 100%;

            h1{
                color: white;
            }

            nav{
                ul{
                    display: flex;
                    list-style: none;

                    li{
                        margin: 3px 10px;
                        a{
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }

            .social-media-icons{
                a{
                    color: white;
                    text-decoration: none;
                    margin: 0 10px;
                }
            }
        }

        main{

            #Home{
                background: radial-gradient(rgb(136,195,245), #1294b8);
                display: flex;
                width: 100%;
                height: 100vh;
                align-items: center;
                justify-content: space-evenly; 



               .headline{
                    width: 26%;

                    h2{
                        font-size: xxx-large;
                        color: darkslategrey;
                    }

                    p{
                        margin: 12px 0;
                    }

                    form{
                        position: relative;

                        #email{
                            width: 100%;
                            padding: 15px;
                            border-radius: 22px;
                            border: none;
                            -webkit-border-radius: 22px;
                            -moz-border-radius: 22px;
                            -ms-border-radius: 22px;
                            -o-border-radius: 22px;
                        }

                        #Subscribe{
                            position: absolute;
                            top: 0;
                            right: 4px;
                            /*z-index: 1;
                            */border: none;
                            top: 5px;
                            height: 36px;
                            cursor: pointer;
                            color: white;
                            background-color: #1294b8;
                            transform: translateX(0px);
                            border-radius: 22px;
                            -webkit-border-radius: 22px;
                            -moz-border-radius: 22px;
                            -ms-border-radius: 22px;
                            -o-border-radius: 22px;
                            width: 30%;
                            transition: 0.8s;
                            -webkit-transition: 0.8s;
                            -moz-transition: 0.8s;
                            -ms-transition: 0.8s;
                            -o-transition: 0.8s;

                            &:hover{
                                background-color: rgb(136,195,245);

                            }
                        }
                    }
                } 

                figure{
                    width: 52%;
                    img{
                        width: 100%;
                    }
                }
            }

            #Features{
                // text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;


                h2{
                    margin: 20px 0;
                }

                p{
                    color: grey;
                    margin-bottom: 35px;
                    text-align: center;
                }

                .product_cards_section{
                    display: flex;
                    justify-content: space-evenly;
                    width: 100%;
                    color: white;

                    .product_cards{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: radial-gradient(rgb(136,195,245), #1294b8);
                        width: 25%;
                        border-radius: 10px;
                        text-align: center;
                        padding: 68px 16px;
                        transition: 0.3s;

                        &:hover{
                            transform: translate(0, -10px);
                        }

                        svg{
                            width: 13%;
                            margin: 22px 0;
                        }

                        p{
                            color: white;
                        }
                    }
                }
            }

            #Team{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                h2{
                    margin: 20px 0;
                    width: 33%;
                    text-align: center;
                }

                p{
                    width: 42%;
                    text-align: center;
                    color: grey;
                }

                .team_images_section {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    margin-top: 35px;


                    figure{
                        width: 23%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        strong{
                            font-size: x-large;
                        }

                        img{
                            width: 65%;
                            filter: grayscale(100%);
                            border-radius: 80%;
                            margin: 31px 0 20px;
                            transition: transform .5s;

                            
                            &:hover{
                                transform: scale(1.1);
                                -webkit-transform: scale(1.1);
                                -moz-transform: scale(1.1);
                                -ms-transform: scale(1.1);
                                -o-transform: scale(1.1);
                                filter: grayscale(0%);
                                -webkit-filter: grayscale(0%);
                            }
                        }

                    }
                }
            }







        }
    }
}